@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lrp67f');
  src:  url('fonts/icomoon.eot?lrp67f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lrp67f') format('truetype'),
    url('fonts/icomoon.woff?lrp67f') format('woff'),
    url('fonts/icomoon.svg?lrp67f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cogs:before {
  content: "\e995";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-paypal:before {
  content: "\ead8";
}
